<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson Text:400,400italic,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet" type="text/css">
    <link href="/static/classic.css" rel="stylesheet" type="text/css">
    <link href="https://{{ root_url }}/rss.xml" rel="alternate" type="application/rss+xml" title="RSS">
    
    <title>{{ page_title }}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:url" content="{{ page_url }}" />
    <meta property="og:description" content="{{ page_description | strip_html | strip | escape }}" />
</head>

<body>
<div class="toplevel">
    <div class="page-header">
        <a href="{{ root_url }}">{{ site_title }}</a>
        {% if author_name %}
        <div class="page-subheader">
            {% if author_href %}
            by <a href="{{ author_href }}">{{ author_name }}</a>
            {% else %}
            by {{ author_name }}
            {% endif %}
        </div>
        {% endif %}
        {% if has_powered_by %}
        <div class="page-subheader">
            powered by <a href="http://github.com/geekyfox/antiblog">The Antiblog</a>
        </div>
        {% endif %}
        <div class="page-subheader">
            <hr>
            <a href="{{ root_url }}/meta/about">About</a>
            | <a href="{{ root_url }}/rss.xml">RSS</a>
            | <a href="{{ root_url }}/entry/random">Random</a>
        </div>
    </div>
    
    {% if tag_cloud %}
    <div class="tag-cloud">
        {% for tag in tag_cloud %}
        <div class="color_{{tag.color}}">
            <div class="colored">
                <a href="{{root_url}}/page/{{tag.name}}">{{tag.name}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
{% if not_found %}    
<div class="entry">
    <div class="body headless">
        Can't find the page you've been looking for
    </div>
</div>
{% endif %}

{% for entry in entries %}
<div class="entry color_{{entry.color}}">
    <div class="header colored">
        <a href="{{entry.permalink}}">{{entry.title}}</a>
    </div>
    {% if entry.tags %}
    <div class="body">
    {% else %}
    <div class="body tagless">
    {% endif %}
        <div class="stuff">
        {% for s in entry.series %}
            <div class="series-links">
                <a href="{{root_url}}{{s.first.permalink}}">First in series</a>
                |
                {% if s.prev %}
                <a href="{{root_url}}{{s.prev.permalink}}">Previous</a>
                {% else %}
                Previous
                {% endif %}
                |
                {% if s.next %}
                <a href="{{root_url}}{{s.next.permalink}}">Next</a>
                {% else %}
                Next
                {% endif %}
                |
                <a href="{{root_url}}{{s.last.permalink}}">Last in series</a>
            </div>
        {% endfor %}
            
            {{entry.content}}
            {% if entry.read_more %}
            <br /> [<a href="{{entry.permalink}}">read more</a>]
            {% endif %}
        </div>
    </div>
    {% if entry.tags %}
    <div class="footer">
        {% for t in entry.tags %}
        <a href="/page/{{t}}" class="colored">{{t}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}

{% if navi %}
<div class="navi-container">
{% if prev %}
    <div class="navi previous">
        <a href="{{base_url}}{{prev}}">Previous page</a>
    </div>
{% endif %}
{% if next %}
    <div class="navi next">
        <a href="{{base_url}}{{next}}">Next page</a>
    </div>
{% endif %}
</div>
{% endif %}

</div>
</body>
</html>
